// COLORS//
$primary-color-1: #1E1F34;
$primary-color-1-light: #bdbedb;
$primary-color-2: #ded;
$input-color:#0007;
$color-heart:#ff9999;


$grey-light-1: #eee;

// FONTS//
$font-size: 3rem;


// WIDTHS
$input-width:17rem;