.sign-in-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 83vh;

  .toggle {
    display: none;

    &:checked + .container {
      @media screen and (max-width: 600px) {
        height: 57.6rem;
      }
      @media screen and (max-width: 420px) {
        height: 62rem;
      }
      @media screen and (max-width: 310px) {
        height: 69rem;
      }
    }
  }
  .container {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    width: 56.3rem;
    min-height: 34.4rem;
    margin: 2rem auto;
    background: transparent;
    border: 2px solid $primary-color-2;
    transition: border 1.2s;

    @media screen and (max-width: 600px) {
      display: flex;
      max-width: calc(100vw - 4rem);
      flex-direction: column;
      height: 50rem;
    }
    @media screen and (max-width: 310px) {
      height: 54.2rem;
    }
  }
}
