.sign-up,
.sign-in {
  background-color: $primary-color-2;
  text-align: left;
  padding: 2rem 4rem;
  margin: 2rem;
  border-radius: 2rem;
  border: none;
  outline: none;

  & * {
    outline: none;
  }
  .title {
    color: $primary-color-1;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
  }
  .or {
    text-transform: uppercase;
    display: block;
    text-align: center;
    font-size: 3rem;
    color: $primary-color-1;
    letter-spacing: 2px;
    margin-top: 3rem;
  }
}

::placeholder {
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: 200;
  color: $primary-color-2;
}
