.page-list {
  display: flex;
  grid-column: 2 / -2;
  font-size: 1.3em;
  align-items: center;
  & > * {
    flex: 1 1;
    cursor: pointer;
    transition: all .2s;
    
    &:hover{
      transform: scale(.95);
    }
  }
  .back,
  .front {
    font-size: 2em;
    font-weight: bold;
    line-height: 0;
    transform: translateY(-.2rem);
    
  }
  .even {
    background: $primary-color-2;
    border-radius: 3px;
  }
  .odd{
    background: $primary-color-1;
    border-radius: 3px;
    margin: 0 .5rem;
    color: $primary-color-2;
  }
  @media screen and (max-width: 810px) {
    grid-column: 1 /-1;
  }
  @media screen and (max-width: 320px) {
      flex-wrap: wrap;
  }
}
